html {
  --color-accent: oklch(75% 25% 200);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  font: 100%/1.5 system-ui;
  /* Set max width for our content, and center(add padding) */
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}

/* Heading Styles */
h1 {
  font-size: 250%;
}

h1, h2, h3, h4, h5, h6 { /* Learning html interpretation:  h1 OR h2 OR... */
  line-height: 1.1;
  text-wrap: balance;
}

/*Edit Contact Forms*/
input, textarea, button {
  /* Use the OS’s UI font for form elements */
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
  margin-block: 0.5em;
}

form input, form textarea, form button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

/* Navigation Edits */
nav ul, nav li {
  /* Remove default list styles */
  display: contents;
}

nav{
  display: flex;
  border-bottom-color: var(--border-color);
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  padding-top: 2.5rem;
  flex: 1;
  text-align: center;
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a.current{    /* Learning html interpretation: nav a AND current */
  font-weight: bold;
  border-bottom-width: 0.4em;
}

nav a:hover {    /* Learning html interpretation: nav a AND hover (pseudo-class: only applies when situation arises. This case, when mouse hovers) */
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent) 15%, canvas 25%);
}

/* Projects Page */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

/* CV Page Styling */
.cv h1{
  margin-bottom: 0.5em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color:turquoise;
}
.cv h2 { /* CV Section Headers*/
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  }

.cv h3{ /* CV Subsection/Item Headers */
    margin-bottom: 0.2em;
  }

.cv article{ /* CV Subsection/Item Headers with Paragraphs */
    line-height: 1.25;
  }
.cv li{ /* CV List Items */
    margin-bottom: 0.5em;
    list-style: circle;
  }

  /* Color Scheme Selector */
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
  background: grey;
  padding: 0.3em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

 select {
  margin-left: 0.4em;
  }
}

/*Profile Stats*/
#profile-stats {
  padding: 1em;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-stats-content {

  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 0;
  }

  dt {
    font-weight: bold;
    grid-row: 1;
  }

  dd {
    margin: 0 0 1em 0;
    grid-row: 2;
  }
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.legend {
  display: grid;
  flex: 1;
  align-items: center; 
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  padding: 1em;
  margin: 2em 0;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background-color: #f9f9f9;
}

.legend li {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.8em;
}

.legend .swatch {
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 0.25em;
  display: flex;
}

/* SVG Styling */
&:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
}

path {
    transition: 300ms;
}

.selected {
  --color: oklch(60% 45% 0) !important;
  
  &:is(path) {
    fill: var(--color);
  }
}